{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>Fantasy 2k17</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Asap|Coda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="{% static "css/style.css" %}" media="screen,projection" rel="stylesheet" type="text/css">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1629513483200878",
    enable_page_level_ads: true
  });
</script>


</head>
<body style="font-family:'Asap'" class="white black-text">
       <ul id="dropdown1" class="dropdown-content">
      <li><a href="/userpage/">My Page</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
        <nav class="blue darken-4 white-text navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="/home/" target="_blank" id="logo-container"><b>Fantasy News</b></a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <a href="/home/" class="right">Home</a>
                </li>
                <li>
                    <a href="/cricket/" class="right">Cricket</a>
                </li>
                 {%if active %}
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">person</i>{{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                {% else %}
                <li>
                    <a href="#modal1">Login</a>
                </li>
                <li>
                    <a href="/register/">Register</a>
                </li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li>
                    <a href="/home/" class="right">Home</a>
                </li>
                <li>
                    <a href="/cricket/" class="right">Cricket</a>
                </li>
                 {%if active %}
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">person</i>{{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                {% else %}
                <li>
                    <a href="#modal1">Login</a>
                </li>
                <li>
                    <a href="/register/">Register</a>
                </li>
                {% endif %}
            </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
        </div>
    </nav>




     <nav class="black navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            <ul class="">
                {% for tour in tournament %}
                <li>
                    <a href="/foottournament/{{tour.id}}/">{{tour.tournament_name}}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
     </nav>



    <div class="row">
    <div class="col m6 offset-m3">
    <h1 class="center" style="font-family:Coda;padding-top:10px;padding-bottom:10px;">Football News</h1>
    </div>
    </div>

    <div class="container">
     <div class="row">
        {%for foot in football%}
        <div class="col s12 m4 center">
          <div class="card grey lighten-4 black-text">
            <div class="card-image">
              <img src="{{foot.image.url}}" width="100" height="230">
            </div>
            <div class="card-content">
              <h4 style="text-transform:uppercase">{{foot.football_match_name|safe}}</h4>
              <p>{{ foot.tournament.tournament_name|safe}}</p><p>{{ foot.on_date.day|safe }}/{{foot.on_date.month|safe}}/{{ foot.on_date.year|safe }}</p>
            </div>
            <div class="card-action">
              <a class="mybttn btn black-text" href="/football/{{foot.id}}">Details</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <script type="text/javascript" language="javascript">
      var aax_size='728x90';
      var aax_pubname = 'alexjosephfan-21';
      var aax_src='302';
    </script>
    <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>

      </div>
    </div>

    <div>
     <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-in.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=IN&ID=V20070822%2FIN%2Falexjosephfan-21%2F8003%2F88f74caa-872c-487d-852b-fd09e031075a&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="http://ws-in.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=IN&ID=V20070822%2FIN%2Falexjosephfan-21%2F8003%2F88f74caa-872c-487d-852b-fd09e031075a&Operation=NoScript">Amazon.in Widgets</A></NOSCRIPT>

    </div>

     {% if not football %}
     <h1>News Coming Soon</h1>
     {% endif %}
    
    
     <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row center">
            <h4>Login</h4>
            <div class="divider"></div>
        </div>
        {% if msg %}
            <p align="center">{{ msg }}</p>
        {% endif %} 
        <div class="row"> {% if not active %}
            <form method="post"> {% csrf_token %}
                <div class="col m12 s12">
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <label for="id_username">Username</label>
                        <input id="id_username" maxlength="150" name="username" type="text" required class="validate" /> </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <label for="id_password">Password</label>
                        <input id="id_password" name="password" type="password" required class="validate" /> </div>
                </div>
                <div class="row center"><a href="/password/">Forgot Password?</a></div>
                <div class="row">
                    <div class="input-field col s12 center">
                        <input type="submit" name="submit" value="Let Me In !" class="btn amber"> </div>
                </div></div>
            </form>  {% endif %}
        </div>
        <div class="row center"> <a class="btn blue darken-4" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> </div>
    </div>
</div>
    
    
    
    <footer class="grey darken-3" style="z-index:999">
    <div class="footer-copyright" style="padding-top:5px;">
        <div class="container white-text" style=" margin-top:10px;">Fantasy 2k17<a class="white-text text-lighten-3 right">All Rights Reserved. Made by Yellow Inc.</a> </div>
    </div>
</footer>
    <script src="{% static "js/jquery-2.1.4.js" %}">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/materialize.js" %}">
    </script>
    <script src="{% static "js/init.js" %}">
    </script>
    <script>
    
      $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    </script>
    <script type='text/javascript' src="{% static "js/mobile.js" %}"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97072343-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>