<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="myteam">
    <tr><th><label for="id_team1player1">Team1player1:</label></th><td><input id="id_team1player1" maxlength="30" name="team1player1" type="text" required /></td></tr>
    <tr><th><label for="id_team1player2">Team1player2:</label></th><td><input id="id_team1player2" maxlength="30" name="team1player2" type="text" required /></td></tr>
    <tr><th><label for="id_team1player3">Team1player3:</label></th><td><input id="id_team1player3" maxlength="30" name="team1player3" type="text" required /></td></tr>
    <tr><th><label for="id_team1player4">Team1player4:</label></th><td><input id="id_team1player4" maxlength="30" name="team1player4" type="text" required /></td></tr>
    <tr><th><label for="id_team1player5">Team1player5:</label></th><td><input id="id_team1player5" maxlength="30" name="team1player5" type="text" required /></td></tr>
    <tr><th><label for="id_team1player6">Team1player6:</label></th><td><input id="id_team1player6" maxlength="30" name="team1player6" type="text" required /></td></tr>
    <tr><th><label for="id_team1player7">Team1player7:</label></th><td><input id="id_team1player7" maxlength="30" name="team1player7" type="text" required /></td></tr>
    <tr><th><label for="id_team1player8">Team1player8:</label></th><td><input id="id_team1player8" maxlength="30" name="team1player8" type="text" required /></td></tr>
    <tr><th><label for="id_team1player9">Team1player9:</label></th><td><input id="id_team1player9" maxlength="30" name="team1player9" type="text" required /></td></tr>
    <tr><th><label for="id_team1player10">Team1player10:</label></th><td><input id="id_team1player10" maxlength="30" name="team1player10" type="text" required /></td></tr>
    <tr><th><label for="id_team1player11">Team1player11:</label></th><td><input id="id_team1player11" maxlength="30" name="team1player11" type="text" required /></td></tr>
</div>

</body>
</html>