{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>Fantasy News</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="{% static "css/style.css" %}" media="screen,projection" rel="stylesheet" type="text/css">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1629513483200878",
    enable_page_level_ads: true
  });
</script>

</head>
<body style="font-family:'Coda'" class="white">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/userpage/">My Page</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
        <nav class="blue darken-4 white-text navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="/home/" target="_blank" id="logo-container"><b>Fantasy News</b></a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <a href="/home/" class="right">Home</a>
                </li>
                <li>
                    <a href="/football/" class="right">Football</a>
                </li>
                <li>
                    <a href="/cricket/" class="right">Cricket</a>
                </li>
                 {% if active %}
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">person</i>{{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                {% else %}
                <li>
                    <a href="#modal1">Login</a>
                </li>
                <li>
                    <a href="/register/">Register</a>
                </li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li>
                    <a href="/home/" class="right">Home</a>
                </li>
                <li>
                    <a href="/football/" class="right">Football</a>
                </li>
                 <li>
                    <a href="/cricket/" class="right">Cricket</a>
                </li>
                 {%if active %}
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">person</i>{{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                {% else %}
                <li>
                    <a href="#modal1">Login</a>
                </li>
                <li>
                    <a href="/register/">Register</a>
                </li>
                {% endif %}
            </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row">
        <div class="col m12 s12 center">
            <br><br><br><br><br>
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
        </div>
    </div>
    

    <script src="{% static "js/jquery-2.1.4.js" %}">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/materialize.js" %}">
    </script>
    <script src="{% static "js/init.js" %}">
    </script>
</body>
</html>